.app-layout {
  display: flex !important;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  padding: 16px;
  background-color: black;
}
.home-header h1{
  color: white;
  margin-bottom: 0.5rem;
}

.home-header p {
  font-size: large;
  color: #ccc;
  margin: 0;
}
.container-checkin{
  width: 100%;
  height:auto ;
}
.btn-checkin{
  width: 200px;
  height: 80px;
  border-radius: 20px !important;
  font-size: 1.5rem !important ;
  font-weight: 700 !important;
}
.btn-checkin .checkin-icon {
  width: 38px;
  height: 38px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-checkin .checkin-play {
  display: block;
  margin-left: 2px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
}