.sidebar {
  width: 240px;
  background: #161616;
  color: #e5e7eb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease, background 0.3s ease;
}
.sidebar * {
  transition: 
    color 0.2s ease,
    background-color 0.2s ease,
    padding 0.3s ease,
    gap 0.3s ease;
}
.sidebar.collapsed {
  width: 100px;
}

/* Header */
.sidebar-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #8a8e94;
}

.logo {
  font-weight: 600;
}

.collapse-btn {
  background: #161616;
  border: none;
  color: #2d73ff  ;
  cursor: pointer;
  font-size: 20px;
}

/* Menu */
.menu {
  list-style: none;
  padding: 12px 0;
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  color: #cbd5f5;
}

.menu-item:hover,
.menu-item.active {
  background: #1e293b;
  color: #0062ff;
}

.icon {
  font-size: 18px;
}

/* Footer */
.sidebar-footer {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  border-top: 1px solid #1e293b;
}
/* User header */
.user-header {
  gap: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.user-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.user-name {
  font-weight: 500;
  font-size: 14px;
}

.user-role {
  font-size: 12px;
  color: #94a3b8;
}

/* Logout */
.sidebar-footer.logout {
  cursor: pointer;
  color: #fb7e7e;
}

.sidebar-footer.logout:hover {
  background: #1e293b;
  color: #ff0000;
}
.icon {
  font-size: 18px;
  min-width: 18px;
}

/* Avatar icon */
.avatar-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

